body {
    background-image: url('https://www.desktopbackground.org/p/2014/08/18/811366_website-background-images-hd-wallpapers-pretty_1920x1200_h.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


/* text inputs */
input { 
    text-align: right; 
    padding: 1em;
    border-radius: 3px;
    border-color: darkred;
    font-size: 16px;
}

/* remove arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header, div, p {
    text-align: center;
}

button {
    background-color: darkred; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;

  }

p {
    font-weight: bold;
    color: darkred;
}

.text {
    color: black;
}

.results {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    size: 500px;
    border-radius: 3px;
}

.answer {
    margin: auto;
    display: inline-block;
    background: #ff9999;
    padding: 10px;
    width: 50%;
    border-radius: 3px;
}

.history {
    margin: auto;
    display: inline-block;
    background: #ff9999;
    padding: 10px;
    width: 50%;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    background: #ffe5e5;
    color: darkred;
    padding: 10px;
    size: 500px;
    border-radius: 3px;
}


